* {
    padding: 0;
    margin: 0;
    min-height: fit-content;
    min-width: fit-content;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #3B3B3B;
}

.container {
    height: 100vh;
    max-width: 720px;
    background-color: #18252b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 720px;
    max-height: 120px;
    margin-bottom: 5px;
}

header h1 {
    color: #E0BD6A;
    font-size: 16px;
    text-align: center;
    margin:25px;
}

header p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffffff;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
 }

section img {
    width: 100px;
    margin: 10px 25px 10px 25px;
}

section button {
    width: 100px;
    height: 70px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 25px 30px;
    color: #ffffff;
    background-color: #18252b;
    border: 2px solid;
    border-color: #2DA94E;
    border-radius: 15px;
    border-bottom: 8px solid #2DA94E;
}

section button:hover {
    cursor: pointer;
    color: #18252b;
    background-color: #2DA94E;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px 10px 10px 20px
}

footer p {
    color: #686868;
    font-size: 12px;
}